---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: orgmgmt-frontend
  namespace: default
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: ec2-13-219-96-72.compute-1.amazonaws.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: orgmgmt-frontend
                port:
                  number: 5006
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: orgmgmt-frontend
                port:
                  number: 5006
