apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: orgmgmt-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/shiftrepo/aws.git
    targetRevision: main
    path: container/claudecode/ArgoCD/k8s-manifests/overlays/v1.1.0
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
