boto3
requests
psycopg2-binary
sqlalchemy
python-dotenv
pydantic
fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-aws
aws-secretsmanager-caching
pymupdf # For PDF processing
tqdm
pandas
numpy
flask
tabulate
flask_cors
beautifulsoup4
